body {
    background-color: teal;
    padding: 0;
    margin: 0 auto;
}
#box { width: 100px;
     height: 100px;
    left: 200px; 
    top: 200px;
    position: absolute
    ;background-image:url(https://www.laststicker.com/i/cards/375/27.jpg) ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: transparent;
}